
*, *:before, *:after {
    box-sizing: border-box;
}

a {
    color: green;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: darkgreen;
    }
}

body {
    font-size: 16px;
    // line-height: 1.2;
    font-family: 'Alegreya Sans', sans-serif;
}

// Main Containers
.app-container,
.landing-container {
    width: 60rem; // 960
    margin: 2rem auto;
}

.player-info-container,
.scores-container {
    width: 50%;
    float: left;
    padding: 1rem;

    .sub-head {
        background-color: #ccc;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 0.5rem;
        text-align: center;
    }
}

.player-info-container {
    .form-section {
        margin: 0.5rem 0;
        .label {
            font-size: 0.9rem;
            color: #555;
        }
    }

    input {
        width: 100%;
        font-size: 1.2rem;
        padding: 0.5rem 0.25rem;
    }

    .selectors {
        border: 1px solid #ccc;
        overflow: auto;
    }

    .selector {
        width: 33.33333%;
        float: left;
        padding: 0.75rem 0;
        text-align: center;
        cursor: pointer;

        &.selected {
            color: #fff;
            background-color: green;
        }

        &.medium {
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
        }

        &:hover {
            color: #fff;
            background-color: darkgreen;
        }
    }

    button {
        width: 100%;
        outline: 0;
        border: 0;
        color: #fff;
        background-color: green;
        margin-top: 0.5rem;
        font-size: 1rem;
        padding: 0.75rem 0;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: darkgreen;
        }
    }

    .error {
        color: red;
    }
}

.scores-container {
    .scores {
        width: 100%;

        // giving tbody a width w/ overflow scroll, this needed
        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        thead {
            background-color: #eee;
        }

        tbody {
            display: block;
            width: 100%;
            border: 1px solid #ccc;
            overflow: auto;
            height: 24rem;
        }

        th {
            width: 33.33333%;
            text-align: left;
            padding: 0.4rem 0.4rem;
            font-size: 0.9rem;
            text-transform: uppercase;
        }

        tr {
            border-bottom: 1px solid #ccc;
        }

        td {
            width: 33.33333%;
            padding: 0.5rem 0.4rem;
        }
    }
}

// Landing page
.landing-container {
    h1 {
        font-size: 6.5rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }
}

// Meta element
.meta {
    position: relative;
    top: -3px;
    overflow: auto;

    .left,
    .right {
        min-height: 35px;
    }

    .left {
        width: 60%;
        float: left;
        padding-top: 0.25rem;
    }
    .right {
        width: 40%;
        float: left;
        font-size: 1.1rem;
        text-align: right;

        b {
            font-size: 1.2rem;
            font-weight: 600;
        }

        .player,
        .score,
        .speed {
            display: inline-block;
        }

        .player {
            padding-right: 0.5rem;
        }

        .score {
            padding-left: 0.5rem;
        }

        .speed {
            padding: 0.5rem;
        }
    }

    .game-over,
    .in-progress {
        display: inline-block;
        .large {
            display: inline-block;
            font-size: 1.5rem;
        }
        .message {
            margin-left: 0.5rem;
        }
    }

    .game-over {
        .large {
            color: red;
        }
    }
    .in-progress {
        .large {
            color: green;
        }
    }

    .message {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        &.vert-line {
            border-right: 1px solid #aaa;
        }
    }

    .play-again-btn {
        border: 1px solid #ccc;
        outline: 0;
        margin: 0 .25rem;
        font-size: 0.9rem;
        font-weight: 300;
        padding: 2px 4px;
        cursor: pointer;

        &.slow {
            color: #fff;
            background-color: green;
            border: 1px solid green;
        }

        &.medium {
            color: #fff;
            background-color: orange;
            border: 1px solid orange;
        }

        &.fast {
            color: #fff;
            background-color: red;
            border: 1px solid red;
        }

        &.first {
            margin-left: 1rem;
        }
    }
}

// Map element
.map {
    clear: both;
    height: auto;
    overflow: auto;
    outline: 2px solid #000;

}

.tile,
.snake,
.mouse {
    float: left;
    width: 40px;
    height: 40px;
    // border: 1px solid #ccc;
}

// Snake element
.snake {
    background-color: green;
}

// Mouse element
.mouse {
    background-color: red;
}

// Leaderboard
.view-leaderboard-container {
    text-align: right;
    padding-top: 1rem;

    a {
        font-size: 1.1rem;
    }
}
