
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    // line-height: 1.2;
    font-family: 'Alegreya Sans', sans-serif;
}

// Game element
.game-container {
    width: 60rem; // 960
    margin: 2rem auto;
    // border: 1px solid orange;
}

// Meta element
.meta {
    padding: 1rem 0;
    .left {
        width: 50%;
        float: left;
    }
    .right {
        width: 50%;
        float: left;
        text-align: right;
    }
    .game-over {
        font-size: 2rem;
        color: red;
    }
}

// Map element
.map {
    clear: both;
    height: auto;
    overflow: auto;
    outline: 3px solid #000;

}

.square {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
}

// Player element

// Snake element
.snake {
    background-color: green;
}

// Mouse element
.mouse {
    background-color: red;
}


// Media Queries
// @media screen and (max-width: 960px) {
//     .game-container {
//         width: 100%;
//     }
// }
